html{
    background-color: seagreen;
}

body{
    background-color:mediumseagreen;
    color: white;
    font-family:monospace;
}

h1{
    color: white;
    font-family:monospace;
    text-shadow: 4px 4px #000000;
}

a {
    color: aqua;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}